In [5]:
import pandas as pd

#imposting Chicago city data
df = pd.read_csv("chicago.csv")

In [6]:
#viewing the first few rows of the dataset
print(df.head())

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

In [9]:
#how many rows and columns are there in the dataset?
df.shape

(300000, 9)

In [8]:
#Returning column names
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [11]:
#What are the different types of values in each column in the dataset?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [17]:
#How many duplicates if exist? 
df.duplicated().sum()

0

In [15]:
#How many missing values if exist?
df.isnull().sum()

Unnamed: 0           0
Start Time           0
End Time             0
Trip Duration        0
Start Station        0
End Station          0
User Type            0
Gender           61052
Birth Year       61019
dtype: int64

In [10]:
#a brief description of the data 
df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [21]:
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [23]:
df['User Type'].unique()

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)